{% extends 'base.html' %} 

{% block title %}Contact{% endblock title %} 

{% block body %} 
<div class="container mx-auto overflow-hidden">
    <img src="https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1430&q=80" class="w-100 h-25" alt="">
    <h1 class="position-absolute top-50 start-50 translate-middle pb-5">Contact Us</h1>
    <form method="post" action="/contact" class="position-absolute top-50 start-50 translate-middle-x d-flex flex-column w-75 bg-white pb-0 p-0 p-md-4 p-lg-5 rounded-5">
      {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <input type="text" name="message" id="message" class="form-control" placeholder="Enter your message here">
        </div>
        <button type="submit" class="my-3 btn btn-primary text-center w-50 align-self-center">Submit</button>
      </form>
</div>
{% endblock body %}
